#!/bin/bash

# colors
source /tmp/chezmoi-utils.sh
echo -e "${start}"

step="ASDF-PLUGINS"

{{ $plugins := dict
  "nodejs"     "lts-gallium"
  "ruby"       "latest"
  "direnv"     "latest"
  "rust"       "latest"
  "terraform"  "latest"
  "python"     "latest"
  "kubectl"    "latest"
  "argo"       "latest"
  "argocd"     "latest"
  "awscli"     "latest"
  "java"       "latest"
  "kotlin"     "latest"
}}

echo -e "$(log_line ${step} "load" "Homebrew shellenv")"
{{- if eq .chezmoi.os "darwin" }}
test -e /usr/local/bin/brew && eval "$(/usr/local/bin/brew shellenv)"
test -d /opt/homebrew && eval "$(/opt/homebrew/bin/brew shellenv)"

brew install openssl readline sqlite3 xz zlib node-build bash jq unzip tar curl make
{{- end }}
{{- if eq .chezmoi.os "linux" }}
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"

sudo apt-get install \
    make \
    build-essential \
    libssl-dev \
    zlib1g-dev \
    libbz2-dev \
    libreadline-dev \
    libsqlite3-dev \
    wget curl llvm \
    libncursesw5-dev \
    xz-utils \
    tk-dev \
    libxml2-dev \
    libxmlsec1-dev \
    libffi-dev \
    liblzma-dev
    autoconf \
    bison \
    libyaml-dev \
    libreadline6-dev \
    libncurses5-dev \
    libgdbm6 \
    libgdbm-dev \
    libdb-dev \
    curl \
    tar \
    unzip \
    sha256sum \
    jq \
    bash \

{{- end }}

{{ range (keys $plugins) -}}
    {{- $key := . }}
    {{- $val := get $plugins $key }}

    echo -e "$(log_line ${step} "install" "${key}")"
    asdf plugin-add {{ $key }} || true

    {{- if not (eq $val "None") }}
        echo -e "$(log_line ${step} "install" "${key} version: ${val}")"
        asdf install {{ $key }} {{ $val }} || true
        asdf global {{ $key }} {{ $val }} || true
    {{- end -}} 
{{ end -}}

echo -e "$(log_line ${step} "done")"

echo -e "${finish}"