#!/bin/bash

# colors
source /tmp/chezmoi-utils.sh
echo -e "${start}"

step="ASDF-PLUGINS"

{{ $plugins := dict
  "nodejs"     "lts-gallium"
  "ruby"       "latest"
  "direnv"     "latest"
  "rust"       "latest"
  "terraform"  "latest"
  "python"     "latest"
  "kubectl"    "latest"
  "argo"       "latest"
  "argocd"     "latest"
  "awscli"     "latest"
  "kotlin"     "latest"
}}

echo -e "$(log_line ${step} "load" "Homebrew shellenv")"
{{- if eq .chezmoi.os "darwin" }}
test -e /usr/local/bin/brew && eval "$(/usr/local/bin/brew shellenv)"
test -d /opt/homebrew && eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
{{- end }}

{{ range (keys $plugins) -}}
    {{- $key := . }}
    {{- $val := get $plugins $key }}

    echo -e "$(log_line ${step} "install" "$key")"
    asdf plugin-add {{ $key }} || true

    {{- if not (eq $val "None") }}
        echo -e "$(log_line ${step} "install" "$key version: $val")"
        asdf install {{ $key }} {{ $val }} || true
        asdf global {{ $key }} {{ $val }} || true
    {{- end -}} 
{{ end -}}

echo -e "$(log_line ${step} "done")"

echo -e "${finish}"